      <article class="portfolio" data-page="portfolio" [class.active]="isActive">

        <header>
          <h2 class="h2 article-title">Portfolio</h2>
        </header>

        <section class="projects">

    <ul class="filter-list">
      <li class="filter-item" *ngFor="let category of categories">
        <button
          [class.active]="selectedCategory === category"
          (click)="selectCategory(category)"
        >
          {{ category }}
        </button>
      </li>
    </ul>

          <div class="filter-select-box">
            
            <button
        class="filter-select"
        [class.active]="dropdownOpen"
        (click)="dropdownOpen = !dropdownOpen"
      >
        <div class="select-value">{{ selectedCategory }}</div>
        <div class="select-icon"><ion-icon name="chevron-down"></ion-icon></div>
      </button>

      <ul class="select-list" *ngIf="dropdownOpen">
        <li class="select-item" *ngFor="let category of categories">
          <button (click)="selectCategory(category); dropdownOpen = false">
            {{ category }}
          </button>
        </li>
      </ul>

          </div>


              <ul class="project-list">
      <li
        class="project-item active"
        *ngFor="let project of filteredProjects"
      >
        <a href="#">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img
              [src]="project.image"
              [alt]="project.title"
              loading="lazy"
            />
          </figure>
          <h3 class="project-title">{{ project.title }}</h3>
          <p class="project-category">{{ project.category }}</p>
        </a>
      </li>
    </ul>

        </section>

      </article>
