<article class="about" data-page="about" [class.active]="isActive">
        <header>
          <h2 class="h2 article-title">About me</h2>
        </header>

        <section class="about-text">
          <p>I'm Tarun Panduri, a passionate Web and App Developer from Kakinada, Andhra Pradesh, with a creative flair for design using Figma. I specialize in transforming ideas into seamless digital experiences—whether it’s building dynamic websites or crafting intuitive mobile apps. My work blends functionality with aesthetic appeal, making sure every product not only works flawlessly but also looks stunning.
          </p>

          <p>
            With a strong foundation in development and an eye for design, I focus on creating user-friendly interfaces that are both engaging and impactful. I believe great digital products are born at the intersection of clean code and smart design, and I strive to deliver that balance in every project. Let’s build something beautiful that speaks for itself.
          </p>
        </section>


        <!--
          - service
        -->

        <section class="service">

          <h3 class="h3 service-title">What i'm doing</h3>

          <ul class="service-list">

                        <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/icon-dev.svg" alt="Web development icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web development</h4>

                <p class="service-item-text">
                  High-quality development of sites at the professional level.
                </p>
              </div>

            </li>

                      <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/icon-app.svg" alt="mobile app icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Mobile apps</h4>

                <p class="service-item-text">
                  Professional development of applications for iOS and Android.
                </p>
              </div>

            </li>

                        <li class="service-item">

              <div class="service-icon-box">
                <img src="../../../assets/images/excelicon.PNG" alt="camera icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Excel Management</h4>

                <p class="service-item-text">Ensuring clean, accurate, and consistent data using Excel functions and scripts.                </p>
              </div>

            </li>
            
            
            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/icon-design.svg
                " alt="design icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web design</h4>

                <p class="service-item-text">
                  The most modern and high-quality design made at a professional level.
                </p>
              </div>

            </li>




          </ul>

        </section>


        <!--
          - testimonials
        -->

                    <section class="testimonials">

                      <h3 class="h3 testimonials-title">Testimonials</h3>

                      <ul class="testimonials-list has-scrollbar">
              <li
                class="testimonials-item"
                *ngFor="let testimonial of testimonials"
                (click)="openModal(testimonial)"
              >
                <div class="content-card">
                  <figure class="testimonials-avatar-box">
                    <img [src]="testimonial.imgSrc" [alt]="testimonial.name" width="60" />
                  </figure>

                  <h4 class="h4 testimonials-item-title">{{ testimonial.name }}</h4>

                  <div class="testimonials-text">
                    <p>{{ testimonial.text }}</p>
                  </div>
                </div>
              </li>
            </ul>


        </section>


        <!--- testimonials modal --->

            <div class="modal-container" [class.active]="modalActive">
              <div class="overlay" [class.active]="modalActive" (click)="closeModal()"></div>

              <section class="testimonials-modal">
                <button class="modal-close-btn" (click)="closeModal()">
                  <ion-icon name="close-outline"></ion-icon>
                </button>

                <div class="modal-img-wrapper">
                  <figure class="modal-avatar-box">
                    <img [src]="modalData.imgSrc" [alt]="modalData.name" width="80" />
                  </figure>
                  <img src="./assets/images/icon-quote.svg" alt="quote icon" />
                </div>

                <div class="modal-content">
                  <h4 class="h3 modal-title">{{ modalData.name }}</h4>
                  <time [attr.datetime]="modalData.date">
                    {{ modalData.date | date: 'dd MMM, yyyy' }}
                  </time>
                  <div>
                    <p>{{ modalData.text }}</p>
                  </div>
                </div>
              </section>
            </div>


      </article>