<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <button
        class="navbar-link"
        [class.active]="activeSection === 'about'"
        (click)="changeSection('about')"
      >
        About
      </button>
    </li>
    <li class="navbar-item">
      <button
        class="navbar-link"
        [class.active]="activeSection === 'resume'"
        (click)="changeSection('resume')"
      >
        Resume
      </button>
    </li>
    <li class="navbar-item">
      <button
        class="navbar-link"
        [class.active]="activeSection === 'portfolio'"
        (click)="changeSection('portfolio')"
      >
        Portfolio
      </button>
    </li>
    <li class="navbar-item">
      <button
        class="navbar-link"
        [class.active]="activeSection === 'contact'"
        (click)="changeSection('contact')"
      >
        Contact
      </button>
    </li>
  </ul>
</nav>
