  <!-- VERSION 1 -->
@if (activeVersion === 'v1') {
  <div class="theme-v1">
    <main>
      <app-sidebar></app-sidebar>
      <div class="main-content">
        <app-navbar 
          (sectionChange)="setActiveSection($event)" 
          [activeSection]="activeSection">
        </app-navbar>

        <app-about [isActive]="activeSection === 'about'"></app-about>
        <app-resume [isActive]="activeSection === 'resume'"></app-resume>
        <app-portfolio [isActive]="activeSection === 'portfolio'"></app-portfolio>
        <app-contact [isActive]="activeSection === 'contact'"></app-contact>
      </div>
    </main>
  </div>
}

<!-- VERSION 2 -->
@if (activeVersion === 'v2') {
  <div class="theme-v2">
    <router-outlet></router-outlet>
  </div>
}

<!-- Switcher bar -->
<!-- <div class="version-switcher" [class.visible]="showSwitcher">
  <button (click)="setVersion('v1')">Version 1</button>
  <button (click)="setVersion('v2')">Version 2</button>
</div> -->
