<div class="min-h-screen bg-black text-white flex flex-col overflow-hidden">
  <header
    class="flex justify-between items-center px-8 md:px-16 py-6 
           opacity-0 -translate-y-10 animate-slideDown"
  >
    <h1 class="font-bebas text-xl tracking-wide">TARUN PANDURI</h1>
    <nav class="space-x-8 hidden md:flex font-manrope text-sm text-gray-300">
      <a href="#" class="hover:text-white transition">Work</a>
      <a href="#" class="hover:text-white transition">About</a>
      <a href="#" class="hover:text-white transition">Contact</a>
    </nav>
  </header>

<!-- HERO SECTION -->
  <main
    class="flex flex-col-reverse lg:flex-row items-center justify-between px-4 flex-1 md:px-16 gap-12"
  >
    <div
      class="flex flex-col items-start max-w-lg opacity-0 -translate-x-10 animate-slideLeft"
    >
      <h2 class="text-5xl md:text-6xl lg:text-6xl font-bebas leading-tight">
        HI, I AM <br /> TARUN PANDURI
      </h2>
      <p
        class="mt-4 text-gray-400 font-manrope text-base md:text-lg leading-relaxed"
      >
      A digital developer focused on transforming your ideas into real, working services.
      </p>

      <div class="flex items-center gap-4 mt-8">
        <a
          href="#"
          class="bg-lime-300 text-black font-manrope text-sm px-6 py-3 rounded-full shadow hover:bg-lime-500 transition"
        >
          CONTACT ME
        </a>

        <a
          href="#"
          class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-800 hover:bg-gray-700 transition transform hover:scale-110 text-white hover:text-[#0A66C2]"
        >
          <i
            class="fa-brands fa-linkedin-in hover:text-[#0A66C2] transition"
          ></i>
        </a>

        <a
          href="#"
          class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-800 hover:bg-gray-700 transition transform hover:scale-110 text-white hover:text-red-300"
        >
          <i
            class="fa-brands fa-github transition"
          ></i>
        </a>
      </div>
    </div>

    <div
      class="w-full max-w-md opacity-0 translate-x-10 animate-slideRight"
    >
      <img
        src="assets/v2/hero.JPG"
        alt="Tarun Panduri"
        class="rounded-xl w-full object-cover"
      />
    </div>
  </main>
</div>

<!-- ABOUT ME -->
<section class="bg-black text-white py-16 px-6 md:px-[2.5rem] lg:px-[4.5rem] overflow-hidden">
  <div class="container mx-auto flex flex-col md:flex-row items-start gap-0 md:gap-12">
    <!-- Heading -->
    <div class="md:w-1/3 md:text-left opacity-0" appAnimateOnScroll>
      <h2 class="text-5xl md:text-6xl font-bebas tracking-wide text-white">
        ABOUT ME
      </h2>
    </div>

    <!-- Content -->
    <div class="md:w-2/3 space-y-6">
      <p
        class="text-lg font-manrope font-semibold leading-relaxed text-gray-100 opacity-0"
        appAnimateOnScroll
        style="animation-delay: 0.2s"
      >
        A Web Developer from Kakinada, Building Clean and Functional Digital Solutions
      </p>

      <p
        class="text-sm md:text-base font-manrope leading-relaxed text-gray-400 opacity-0"
        appAnimateOnScroll
        style="animation-delay: 0.4s"
      >
        I’m Tarun Panduri, a Web Developer from Kakinada with core expertise in building modern, responsive, and efficient websites. I specialize in turning ideas into functional web experiences that are fast, reliable, and easy to use. Alongside web development, I also have some experience in App development support, which adds to my ability to create well-rounded digital solutions.        <span class="mb-2 md:mb-4"></span>
        <span class="mb-2 md:mb-4"></span>
        My approach combines solid coding practices with an understanding of user needs, ensuring that every website I build is both technically sound and user-friendly. While I enjoy working with design tools like Figma, my core strength lies in bringing designs to life through clean, scalable code. Whether you need a simple landing page or a complex web application, I’m here to help you create a digital presence that stands out and performs seamlessly.
      </p>

      <div
        class="flex flex-wrap items-center gap-4 opacity-0"
        appAnimateOnScroll
        style="animation-delay: 0.6s"
      >
        <a
          href="#"
          class="bg-lime-300 text-black px-6 py-2 rounded-full font-manrope font-semibold text-sm shadow-md hover:bg-lime-400 transition transform hover:scale-105"
        >
          DOWNLOAD RESUME
        </a>
      </div>
    </div>
  </div>
</section>



<!-- CAPABILITIES SECTION -->
<section class="bg-black text-white py-16 px-6 md:px-[2.5rem] lg:px-[4.5rem] overflow-hidden">
  <div class="container mx-auto flex flex-col md:flex-row items-start gap-0 md:gap-12">
    <!-- Heading -->
    <div class="md:w-1/3 text-center md:text-left opacity-0" appAnimateOnScroll>
      <h2 class="text-5xl md:text-6xl font-bebas tracking-wide text-white ">
        MY CAPABILITIES
      </h2>
    </div>

    <!-- Content -->
    <div class="md:w-2/3 space-y-6">
      <!-- Paragraph -->
      <p
        class="text-sm md:text-base font-manrope leading-relaxed text-gray-400 opacity-0"
        appAnimateOnScroll
        style="animation-delay: 0.2s"
      >
        My skill set is always evolving — I believe growth comes from curiosity and
        the drive to learn. I actively explore new technologies, refine my
        techniques, and adapt to emerging trends to bring fresh, innovative
        solutions to the table.
      </p>

      <!-- Skills -->
      <div
        class="flex flex-wrap gap-4 opacity-0"
        appAnimateOnScroll
        style="animation-delay: 0.4s"
      >
        <span
          *ngFor="let skill of skills"
          class="px-5 py-2 rounded-full border-2 border-gray-500 text-sm font-manrope text-gray-300 hover:bg-lime-300 hover:text-black transition cursor-pointer"
        >
          {{ skill }}
        </span>
      </div>
    </div>
  </div>
</section>



<!-- EDUCATION SECTION -->
<section
  class="bg-black text-white py-16 px-6 md:px-[2.5rem] lg:px-[4.5rem] overflow-hidden"
>
  <div class="container mx-auto flex flex-col md:flex-row items-start gap-0 md:gap-12">
    <!-- Heading -->
    <div class="md:w-1/3 md:text-left opacity-0" appAnimateOnScroll>
      <h2 class="text-5xl md:text-6xl font-bebas tracking-wide text-white mb-6">
        EDUCATION
      </h2>
    </div>

    <!-- Timeline -->
    <div class="md:w-2/3 space-y-8">
      <div
        *ngFor="let edu of educationList; let i = index"
        class="opacity-0"
        appAnimateOnScroll
        [style.animation-delay]="(i * 0.2) + 's'"
      >
        <h3
          class="text-xl font-manrope font-semibold text-white underline decoration-lime-300 rounded-lg"
        >
          {{ edu.degree }}
        </h3>
        <p class="text-sm text-gray-400">
          {{ edu.institution }} · {{ edu.years }}
        </p>
        <p class="mt-2 text-sm text-gray-300 leading-relaxed">
          {{ edu.description }}
        </p>
      </div>
    </div>
  </div>
</section>

<!-- EXPERIENCE SECTION-->
<section class="bg-black text-white py-16 px-6 md:px-[2.5rem] lg:px-[4.5rem]">
  <div class="container mx-auto flex flex-col md:flex-row ">

    <!-- Left Heading -->
    <div class="md:w-1/3 text-center md:text-left">
      <h2 class="text-5xl md:text-6xl font-bebas tracking-wide">
        MY EXPERIENCE
      </h2>
    </div>

    <!-- Right Content -->
    <div class="md:w-2/3 space-y-10">

      <!-- Experience Item 1 -->
      <div class="flex flex-col md:flex-row md:justify-between">
        <div>
          <h3 class="text-lg font-manrope font-semibold text-white">
            Associate Software developer
          </h3>
          <p class="text-sm font-manrope text-gray-400 max-w-xl">
            I specialize in building, testing, and maintaining scalable, 
            high-quality applications. Skilled in HTML, CSS, JavaScript, 
            Angular, React.js, and React Native, I create user-friendly 
            solutions with strong backend support through database management 
            and API integration. I collaborate in Agile teams, optimize 
            performance, and ensure best practices through debugging, 
            troubleshooting, and code reviews.
          </p>
        </div>
        <span class="text-sm font-manrope text-gray-300 mt-2 md:mt-0">
          Oct 2024 — Present
        </span>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT SECTION -->

<section class="bg-black text-white py-16 px-6 md:px-[2.5rem] lg:px-[4.5rem]">
  <div class="container mx-auto flex flex-col md:flex-row">

    <div class="md:w-1/3 flex flex-col justify-between gap-3 ">
      <div>
        <h2 class="text-5xl md:text-6xl font-bebas mb-4">LET’S CONNECT</h2>
        <p class="text-sm font-manrope text-gray-300 mb-2 ">
          Say hello at <a href="mailto:Tarunpanduri88@gmail.com" class="inline underline decoration-lime-300">Tarunpanduri88@gmail.com</a> 
        </p>
        <p class="text-sm  font-manrope text-gray-300">
          Contact me at <a href="tel:+919014031909" class="inline underline decoration-lime-300 ">+91 90140 31909</a>
        </p>
      </div>

      <div class="flex gap-2">
        <a href="#" class="w-8 h-8 flex items-center justify-center rounded-full text-lime-200 hover:text-blue-500 transition">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="#" class="w-8 h-8 flex items-center justify-center rounded-full text-lime-200 hover:text-red-500 transition">
          <i class="fab fa-github"></i>
        </a>
        <a href="#" class="w-8 h-8 flex items-center justify-center rounded-full text-lime-200 hover:text-pink-500 transition">
          <i class="fab fa-instagram"></i>
        </a>
      </div>

      <p class="text-xs font-manrope text-white md:block hidden">
        © 2023 Tarun Panduri
      </p>
    </div>

    <div class="md:w-2/3 mt-4 md:mt-0" >
      <form class="space-y-6">
        <div>
          <label class="block text-sm font-manrope mb-1">Name</label>
          <input
            type="text"
            class="w-full bg-gray-900 text-white px-4 py-3 rounded-md border border-gray-700 focus:outline-none focus:ring-2 focus:ring-lime-300"
          />
        </div>

        <div>
          <label class="block text-sm font-manrope mb-1">Email</label>
          <input
            type="email"
            class="w-full bg-gray-900 text-white px-4 py-3 rounded-md border border-gray-700 focus:outline-none focus:ring-2 focus:ring-lime-300"
          />
        </div>

        <div>
          <label class="block text-sm font-manrope mb-1">Subject</label>
          <input
            type="text"
            class="w-full bg-gray-900 text-white px-4 py-3 rounded-md border border-gray-700 focus:outline-none focus:ring-2 focus:ring-lime-300"
          />
        </div>

        <div>
          <label class="block text-sm font-manrope mb-1">Message</label>
          <textarea
            rows="4"
            class="w-full bg-gray-900 text-white px-4 py-3 rounded-md border border-gray-700 focus:outline-none focus:ring-2 focus:ring-lime-300"
          ></textarea>
        </div>

        <button
          type="submit"
          class="bg-lime-300 text-black px-6 py-2 rounded-full font-manrope font-semibold shadow-md hover:bg-lime-500 transition"
        >
          SUBMIT
        </button>
      </form>
    </div>
  </div>
</section>
<!-- FOOTER -->
<footer class="bg-black text-white px-6 flex justify-between items-center">
<p class="mb-6 text-xs font-manrope text-white md:hidden">
© 2023 Tarun Panduri
</p>
</footer>


