      <article class="resume" data-page="resume" [class.active]="isActive">

        <header>
          <h2 class="h2 article-title">Resume</h2>
        </header>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Education</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">DLR PG COLLEGE</h4>

              <span>2023 — 2025</span>

              <p class="timeline-text">I hold an MBA with specialized expertise in Finance and Human Resources, blending strategic financial insight with people management skills to drive business growth and organizational excellence.

              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">ADITYA DEGREE COLLEGE</h4>

              <span>2020 — 2023</span>

              <p class="timeline-text">
I completed my B.Sc. in Computer Science, gaining a strong foundation in programming, algorithms, and software development to tackle complex technological challenges.

              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">NARAYANA JUNIOR COLLEGE </h4>

              <span>2002 — 2004</span>

              <p class="timeline-text">
                I completed my Intermediate education with a focus on MPC (Mathematics, Physics, and Chemistry), building a solid base in analytical and scientific principles.
              </p>

            </li>

                        <li class="timeline-item">

              <h4 class="h4 timeline-item-title">LITTLE BUDS SCHOOL </h4>

              <span>2017 — 2018</span>

              <p class="timeline-text">
                I achieved completion of my 10th standard, building essential skills and knowledge that set the stage for my higher education.
              </p>

            </li>

          </ol>

        </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Experience</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">ASSOCIATE SOFTWARE DEVELOPER</h4>

              <span>OCTOBER 2024 — PRESENT</span>

              <p class="timeline-text">
I specialize in developing, testing, and maintaining high-quality software applications to ensure peak performance and seamless functionality. Proficient in modern programming languages and frameworks such as HTML, CSS, JavaScript, Angular, React.js, and React Native, I build scalable and user-friendly applications tailored to business needs. I collaborate closely with cross-functional teams to design and implement innovative software solutions, while expertly debugging and troubleshooting code to enhance system reliability. With hands-on experience in managing databases and integrating APIs, I ensure efficient data flow and robust backend support. Committed to Agile methodologies, I actively participate in daily stand-ups and sprint planning to drive continuous improvement. I also prioritize optimizing application performance and conducting thorough code reviews to uphold best coding practices and deliver exceptional results.
              </p>

            </li>

          </ol>

        </section>

        <section class="skill">

          <h3 class="h3 skills-title">My skills</h3>

          <ul class="skills-list content-card">

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5" >Angular</h5>
                <data value="90" style="margin-left: 10px;">90%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 90%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">React Native & React.js</h5>
                <data value="90" style="margin-left: 10px;">90%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 90%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Figma Designing</h5>
                <data value="80" style="margin-left: 10px;">80%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 80%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Firebase & My sql Database Management</h5>
                <data value="80" style="margin-left: 10px;">80%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 80%;"></div>
              </div>

            </li>

          </ul>

        </section>

      </article>